<h2>
  Update Company
</h2>

<p *ngIf = "!exist">
  Company doesn't exist
</p>

<!-- <form id = "formNewCompany" name = "formNewCompany" #companyData = "ngForm" (ngSubmit) = "updateCompany(companyData.value)">
  <label>compName: </label><input type = "text" name="compName" id="compName" placeholder="compName" [(ngModel)] = "data.compName" ngModel><br>
  <label>Password: </label><input type = "password" name="password" id="password" [(ngModel)] = "data.password" placeholder="password" ngModel><br>
  <label>email: </label><input type = "test" name="email" id="email" [(ngModel)] = "data.email" placeholder="email" ngModel><br>
  <input type="submit" value = "Update Company">
</form> -->
