<h2>
    Update Product
  </h2>
  
  <p *ngIf = "!exist">
    Product doesn't exist
  </p>
  
  <form id = "formNewCompany" name = "formNewCompany" #companyData = "ngForm" (ngSubmit) = "updateCompany(companyData.value)">
    <label>compName: </label><input type = "text" name="compName" id="compName" placeholder="name" [(ngModel)] = "company.name" ngModel><br>
    <label>password: </label><input type = "text" name="password" id="password" [(ngModel)] = "company.password" placeholder="password" ngModel><br>
    <label>email: </label><input type = "text" name="email" id="email" [(ngModel)] = "company.email" placeholder="email" ngModel><br>
    <input type="submit" value = "Update Product">
  </form>