<h2>
    Update Company
  </h2>
  
  <p *ngIf = "!exist">
    Company doesn't exist
  </p>
  
  <form id = "formNewCompany" name = "formNewCompany" #companyData = "ngForm" (ngSubmit) = "updateCompany()">
    <!-- <label>compName: </label><input type = "text" name="Compnay Name" id=p.compName placeholder=compName [(ngModel)] = "company.compName" ngModel><br> -->
    <label>password: </label><input type = "text" name="password" id="password"  placeholder="password" [(ngModel)] = "company.password" ngModel><br>
    <label>email: </label><input type = "text" name="email" id="email" [(ngModel)] = "company.email" placeholder="email" ngModel><br>
    <input type="submit" value = "Update Product">
  </form>
  <a routerLink="/company-list">Back To List  </a>