<div class="col-md-12"> -->
<div id="insertDate" class="collapse">
  <label for="date">Insert Maximum Expiration Date:</label>
  <input type="date" [(ngModel)]="dateToSort">
  <button class="btn btn-warning btn-sm" (click)="getCouponsByDate()">Filter!</button>
</div>

<table>
  <thead>
  <th>title</th>
  <th>start_date</th>
  <th>end_date</th>
  <th>amount</th>
  <th>type</th>
  <th>message</th>
  <th>price</th>
  <th>image</th>
  </thead>
  <tbody>
  <tr *ngFor = "let p of coupons">
      <td>
        <a routerLink="/get-coupon/{{p.couponId}}">{{p.title}}</a>
      </td> 

    <td>{{p.start_date}}</td>
    <td>{{p.end_date}}</td>
    <td>{{p.amount}}</td>
    <td>{{p.type}}</td>
    <td>{{p.message}}</td>
    <td>{{p.price}}</td>
    <td>{{p.image}}</td>
  
    
    <!-- <td><button class="btn btn-danger"(click)="removeCoupon(p.couponId)">Delete</button>
      <button class="btn btn-danger"(click)="updateCompany(p.customerId)">Update</button>
    </td> -->

  </tr>
</tbody>
  </table>
  
</div>

<a routerLink = "/company"> Back to Company Menu</a>