<form >
	  <input  type="text" name="title"[(ngModel)]="coupon.title"  placeholder="title..">
	  <br><br>
	  <input type="text" name ="start_date"[(ngModel)]="coupon.start_date" placeholder="start_date..">
	  <br><br>
	  <input  type="text" name="end_date" [(ngModel)]="coupon.end_date" placeholder="end_date..">
    <br><br>
    <input  type="number" name="amount" [(ngModel)]="coupon.amount" placeholder="amount..">
    <br><br>
    <!-- <input  type="text" name="type" [(ngModel)]="coupon.type" placeholder="type..">
    <br><br> -->

    <!-- <label for="fname">Type of the Coupon</label>
      <select id="couponType" name="couponType"  palceholder="Insert Coupon Type" required ngModel>
            <option value="RESTURANTS">RESTURANTS</option>
            <option value="ELECTRICITY">ELECTRICITY</option>
            <option value="Food">FOOD</option>
            <option value="Health">HEALTH</option>
            <option value="Sports">SPORTS</option>
            <option value="Camping">CAMPING</option>
            <option value="Traveling">TRAVELING</option>
            <option value="Resturans">TRAVELING</option>
            <option value="Electricity">TRAVELING</option>
      </select>  --> -->
      <input  type="text" name="type" [(ngModel)]="coupon.type" placeholder="couponType..">
    <br><br>






    <input  type="text" name="message" [(ngModel)]="coupon.message" placeholder="message..">
    <br><br>
    <input  type="number" name="price" [(ngModel)]="coupon.price" placeholder="price..">
    <br><br>
    <input  type="text" name="image" [(ngModel)]="coupon.image" placeholder="image..">
	  <button (click)="createCoupon()">create coupon</button>


  </form> 
  <a routerLink = "/get-coupons"> Back to Coupon List</a> 
