<!-- 
	
	<h3>Please fill your name and password:</h3>
  <form (submit)="loginUser($event)">
	<div class="input">
		<label>Username</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Password</label>
		<input type="password">
	</div>
	<label for="type">ClientType</label>
		<select id="type" name="type">
		  <br>
			<option value="ADMIN">Admin</option>
			<br>
		<option value="COMPANY">Company</option>
		<br>
		<option value="CUSTOMER">Customer</option>
		</select>
	<div class="input">
		<input type="submit" value="Login">
	</div>
</form> -->

<!-- <form>

		<label>Type:</label>
		<select name="type" [(ngModel)]="credentials.type">
			<option selected disabled>Select Type</option>
			<option value ="customer">Customer</option>
			<option value ="company">Company</option>
			<option value ="admin">Admin</option>
		</select>
		<br><br>
	<label>Username:</label>
	<input type="text" name="name" [(ngModel)]="credentials.name">
	<br><br>

	<label>Password:</label>
	<input type="password" name="pass" [(ngModel)]="credentials.pass">
	<br><br>

	
	<button (click)="login()">Login</button>
</form> -->

<div class="login">
		<form class="wow animated zoomIn">
			<p>Please Enter Your Details</p>
		  <label class="wow">Username: </label>
		  <input type="text" name="username" [(ngModel)]="credentials.username">
		  <br><br>
		
		  <label class="wow">Password: </label>
		  <input type="password" name="password" [(ngModel)]="credentials.password">
		  <br><br>
		
		  <label class="wow">Client Type: </label>
		  <select name="type" [(ngModel)]="credentials.type">
			<option selected disabled>Select Your Type</option>
			<option value="admin">Admin</option>
			<option value="company">Company</option>
			<option value="customer">Customer</option>
		  </select>
		  <br><br>
		
		  <button (click)="login()" class="buttonLogin">Login</button>&nbsp; &nbsp;
		  <button type="reset" class="button">Reset</button>
		
		</form>
		</div>