<a routerLink = '/company-list'> + Create Company</a>

<h1>
  Companies
</h1>
<div>
<table>
  <th>companyId</th>
  <th>compName</th>
  <th>password</th>
  <th>email</th>
  
  <tr *ngFor = "let p of companies">
    <td>{{p.companyId}}</td>
    <td>{{p.compName}}</td>
    <td>{{p.password}}</td>
    <td>{{p.email}}</td>

   
    
    <!-- <td (click) = "deleteCompany(company.id)"><a>DELETE</a></td> -->
    <!-- <td [routerLink] = "['/updateCompany', Company.id]"><a>UPDATE</a></td> -->
  <!-- </tr> 
 </table>

 </div>  --> -->
