<div class="cotainer">


<h1>
  List of All Companies
</h1>

<table>
  <thead>
  <th>compName</th>
  <th>password</th>
  <th>email</th>
  <th>Delete</th> 
</thead>
<tbody>

  
  <tr *ngFor = "let p of companies">
    <td>
      <a routerLink="/get-company/{{p.companyId}}">{{p.compName}}</a>
      
    </td> 
    
    <td>{{p.password}}</td>
    <td>{{p.email}}</td>
    <td><button class="btn this removebuttn"(click)="removeCompany(p.companyId)">Delete</button>
     
      <!-- <button class="nav-link" routerLink="/update-company/">Update</button> -->
    </td>
   
  </tr> 
</tbody>
  
  </table>
</div>
<a routerLink="/admin">Back To Admin List  </a>
    
    

