<h2>
    Update Coupon
  </h2>
  
  <p *ngIf = "!exist">
    Coupon doesn't exist
  </p>
  
  <form id = "formNewCompany" name = "formNewCompany" #companyData = "ngForm" (ngSubmit) = "updateCoupon()">
    <!-- <label>compName: </label><input type = "text" name="Compnay Name" id=p.compName placeholder=compName [(ngModel)] = "company.compName" ngModel><br> -->
    <label>end_date: </label><input type = "date" name="end_date" id="end_date"  placeholder="end_date" [(ngModel)] = "company.end_date" ngModel><br>
    <label>price: </label><input type = "text" name="price" id="price" [(ngModel)] = "company.price" placeholder="price" ngModel><br>
    <input type="submit" value = "Update Coupon">
  </form>