         <div>
           <h3> Name: {{company.compName}}</h3>
           <!-- <h3> Password: {{company.password}}</h3> -->
           <!-- <h3> Email: {{company.email}}</h3> -->
           <label>password: </label><input type = "text" name="password" id="password"  placeholder="password" [(ngModel)] = "company.password" ngModel><br>
           <label>email: </label><input type = "text" name="email" id="email"  placeholder="email" [(ngModel)] = "company.email" ngModel><br>
           <button (click)="updateCompany()">update company</button>
          </div>
          <br><br>
          <br><br>
         <a routerLink="/companyList">Back To Compnay List  </a>

         