<a routerLink="home" routerLinkActive="active">home</a>
<br><br>
<!-- <a routerLink="products" routerLinkActive="active">list</a>
<br><br> -->

<a routerLink="customer" routerLinkActive="customer">Customer</a>
<br><br>

<a routerLink="company" routerLinkActive="company">Company</a>
<br><br>
<a routerLink="admin" routerLinkActive="admin">Admin</a>
<br><br>
<a routerLink="/login" *ngIf="!loginService.isLoggedIn">Login</a>
<br><br>
<a href="javascript:void" (click)="logout()" *ngIf="loginService.isLoggedIn">Logout</a>



