

  <html ng-app="customerApp">
	<head>
	
	<title>customer</title>
	</head>
	<body>
		<h1>Hello customer!</h1>
		<a routerLink = "/"> back </a>
	
	
		<div>  
			 
		<ul class="bar">
		<li><a [routerLink]="['/purchase-coupon']">purchase-coupon</a></li>	
		 <li><a [routerLink]="['/get-all-purchased-coupons']">get-all-purchased-coupons</a></li>
		 <li><a [routerLink]="['/get-all-purchased-coupons-by-type']">get-all-purchased-coupons-by-type</a></li>
		 <li><a [routerLink]="['/get-all-purchased-coupons-by-price']">get-all-purchased-coupons-by-price</a></li>
		 
	
		</ul>
		 </div>
	
	
		</body>
	